@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto');


// colors **************

$backgroundColor: #E9EBEE;
$signInBackgroundColor: #F1F4F7;
$faceBookBlue: #3B5998;
$faceBookWhite: #fff;
$faceBookDarkerGradientColor: #D3D8E8;
$signUpTextBlack: #333333;
$signUpButtonGradientOne: #67ae55;
$signUpButtonGradientTwo: #578843;
$signUpButtonBackgroundColor: #69a74e;
$signUpButtonBoxShadow: #a4e388;
$textColorOfAgreeingtoSignup: #777798;
$textColorforCreatingAPageforOrganizations: #746666;

// borders **************

$borderColorGrey: .5px solid #E5E5E5;
$borderColorBlue: 1px solid #133783;
$inputBorderBox: .5px solid #1D2A5B;
$buttonBorder: .5px solid #29487D;
$headerInternalBorder: .5px solid #365089;
$signUpButtonBorderColorOne: #3b6e22;
$signUpButtonBorderColorTwo: #2c5115;
$inputBoxBorderColor: #BDC7D8;
$inputBoxTextColor: #99ACC5;

// fonts *****************

$faceBookFont: 'Merriweather', serif;
$faceBookFonth: helvetica;
$faceBookFontr: 'Roboto';
