@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto');


// colors **************

$signUpButtonBoxShadow: #a4e388;

$noPhotos-to-show-text-on-profile-photos: #BBBBBB;

$faceBookDarkerGradientColor: #D3D8E8;

$iconHover: #e5e5e5;
$backgroundColor: #E9EBEE;

$signInBackgroundColor: #F1F4F7;
$faceBookWhite: #fff;

$fbTextBlack: #1D2129;

$faceBookBlue: #3B5998;
$signUpTextBlack: #333333;
$fbTextBlue: #36589F;
$postBttnHoverBlue: #365899;

$headerHoverBlue: rgba(0, 0, 0, .25);

$postBttnBlue: #4267b2;
$color-of-word-photos-on-profile: #4B4F56;

$fbButtonTextGray: #5F6269;
$color-of-text-in-buttons-on-profile-photos: #55595F;
$signUpButtonGradientTwo: #578843;

$friendsBttnGray: #61646B;
$signUpButtonGradientOne: #67ae55;
$leftProfileGruopNames: #676767;
$signUpButtonBackgroundColor: #69a74e;

$likeCommentShareGray: #7F7F83;
$likeCommentShareBlue: #5890FF;
$textColorforCreatingAPageforOrganizations: #746666;
$textColorOfAgreeingtoSignup: #777798;

$fbTextGray: #90949C;

// borders **************

$inputBoxBorderColor: #BDC7D8 solid .5px;
$borderAroundSelectBoxes: 1px solid #BDC7D8;
$borderColorDarkGrey: .1px solid #CCCCCC;
$buttonBorderGray: .5px solid #CED0D4;
$main-container-profile-photo-border: #D3D6DB solid;
$borderOnFindFriendsPage: #DFE0E4 solid .5px;
$borderColorGrey: .1px solid #E5E5E5;

$inputBorderBox: .5px solid #1D2A5B;
$borderColorBlue: 1px solid #133783;

$signUpButtonBorderColorTwo: #2c5115;
$buttonBorder: .5px solid #29487D;

$signUpButtonBorderColorOne: #3b6e22;
$headerInternalBorder: .5px solid #365089;

$inputBoxTextColor: #99ACC5;

// fonts *****************

$facebookFontA: -apple-system, BlinkMacSystemFont;
$faceBookFonth: helvetica;
$faceBookFont: 'Merriweather', serif;
$faceBookFontr: 'Roboto';
