@import '../../base/utilities';

.user-comment-wrapper {
  width: 100%;
  height: auto;
  background-color: #F6F7F9;
  position: relative;
}

.user-comment-container,
.user-comment-container-hidden {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  display: flex;
  position: relative;
}

.user-comment-wrapper-hidden {
  opacity: .5;
  width: 100%;
  height: auto;
  background-color: #F6F7F9;
  position: relative;
}

.user-comment-text-container {
  height: auto;
  width: 90%;
  min-height: 34px;
  display: inline-block;
  padding-left: 10px;
  word-wrap: break-word;
}

.user-comment {
  display: inline-block;
  height: auto;
  width: 100%;
  background: #F6F7F9;
}

.user-comment-profile-picture {
  display: inline-block;
  img {
    height: 32px;
    width: 32px;
    border: 1px solid rgba(0, 0, 0, .1);
  }
}

.user-comment-profile-name {
  font-family: $facebookFontA;
  font-size: 12px;
  font-weight: 600;
  color: $fbTextBlue;
}

.user-comment-text {
  font-family: $facebookFontA;
  font-size: 12px;
  font-weight: 400;
  color: $fbTextBlack;
}

.user-comment-like-container {
  height: auto;
  width: auto;
  display: flex;
  margin-top: 4px;
}

.user-comment-like-text {
  font-family: $facebookFontA;
  font-size: 12px;
  font-weight: 400;
  color: $fbTextBlue;
  padding-top: 3px;
  cursor: pointer;
}

.user-comment-like-indicator {
  display: flex;
  flex-direction: row;
  margin-left: 3px;
  color: $fbTextBlue;

  img {
    height: 12px;
    width: 12px;
    margin-top: 1px;
  }

  p {
    color: $fbTextBlue;
    font-size: 12px;
    margin-left: 3px;
    margin-top: 3px;
  }
}

.user-comment-container:hover .user-comment-edit-button-container {
  display: inline-block;
}

.user-comment-edit-menu-carrot {
  display: none;
  position: absolute;
  bottom: -12px;
  height: 8px;
  width: 16px;
  z-index: 3;
  left: -6px;
}

.user-comment-edit-button-container {
  display: none;
  position: absolute;
  right: 11px;
  top: 4px;
  width: 8px;
  max-height: 9px !important;
}

.user-comment-edit-button {
  top: -4px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  cursor: pointer;
}

.user-comment-edit-button-container:hover .user-comment-edit-button {
  background: url("/images/comments/edit-pencil-dark-gray.png")
}

.user-comment-edit-button-container .tooltiptext {
  position: absolute;
  bottom: 170%;
  left: 50%;
  margin-left: -60px;
  z-index: 1;
}

.user-comment-edit-menu-container {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  width: 71px;
  height: 60px;
  position: absolute;
  z-index: 2;
  left: -49px;
  bottom: -73px;
  display: none;
  align-items: center;
}

.user-comment-edit-menu-container ul li {
  border: solid #fff;
  border-width: 1px 0;
  color: #1d2129;
  font-family: inherit;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 22px;
  padding: 0 12px;
  cursor: pointer;

  &:hover {
    background-color: #4267b2;
    border-color: #29487d;
    color: #fff;
  }
}

.user-comment-container:hover .user-comment-hide-button-container {
  display: inline-block;
}

.user-comment-hide-button-container {
  display: none;
  position: absolute;
  right: 11px;
  top: 4px;
  width: 10px;
  cursor: pointer;
}

.user-comment-hide-button {
  width: 10px;
}

.user-comment-hide-button-container:hover .user-comment-hide-button {
  background: url("/images/comments/comment-x-dark-gray.png");
  background-size: 10px;
  background-repeat: no-repeat;
}

.user-comment-hide-button-container .tooltiptext {
  position: absolute;
  bottom: 122%;
  left: 50%;
  margin-left: -36px;
  z-index: 1;
  width: 68px;
  padding: 6px 3px;
}

.user-comment-hide-button-container .tooltiptext::after {
  left: 50%;
}

.user-comment-container:hover .user-comment-delete-button-container {
  display: inline-block;
}

.user-comment-delete-button-container {
  display: none;
  position: absolute;
  right: 11px;
  top: 4px;
  width: 10px;
  cursor: pointer;
}

.user-comment-delete-button {
  width: 10px;
}

.user-comment-delete-button-container:hover .user-comment-delete-button {
  background: url("/images/comments/comment-x-dark-gray.png");
  background-size: 10px;
  background-repeat: no-repeat;
}

.user-comment-delete-button-container .tooltiptext {
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -44px;
  z-index: 1;
  width: 88px;
}

.user-comment-delete-button-container .tooltiptext::after {
  left: 50%;
}

.comment-hidden-wrapper {
  width: 100%;
  height: auto;
  background-color: #F6F7F9;
  position: relative;
}

.user-inform-hidden-container {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  padding-top: 8px;

  ul li {
    display: inline-block;
    margin-right: 3px;
    margin-top: 5px;
    color: $faceBookBlue;
    cursor: pointer;
  }
}
