@import '../../base/utilities';

body,
html,
p {
    font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}


.global-header-wrapper {
    background: $faceBookBlue;
    width: 100%;
    display: flex;
    justify-content: center;
}

.global-header-container {
    background: $faceBookBlue;
    min-width: 1011px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 42px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12px;
    position: relative;
}

// Header Left Div ********************

.header-left-div {
    height: inherit;
    width: 485px;
    display: flex;
    flex-direction: row;

    div {
        margin-top: 9px;
        height: inherit;
        width: 34px;
        img{
          height: 24px;
          width: 26px;
        }
    }

    input {
        margin-top: 9px;
        padding-left: 8px;
        font-size: 14px;
        font-weight: lighter;
        width: 411px;
        height: 22px;
        border-radius: 3px;
        border: none;
    }

    button {
        margin-top: 9px;
        margin-left: -3px;
        height: 24px;
        width: 36px;
        background-color: $faceBookWhite;
        border: none;
        border-radius: 3px;
        i {
            font-size: 16px;
            font-weight: normal;
        }
    }
}


// Header Right div ****************************

.header-right-div{
  min-width: 423px;
  display: flex;
  flex-direction: row;
  // justify-content: flex-end;
}

// Redirect Section *****************

.headerProfileName {
    padding-left: 10px;
    // min-width: 35px;
    // padding-right: 10px;
    text-decoration: none;
    color: $faceBookWhite;
}

.header-profile-container {
    margin-top: 12px;
    height: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    div {
        height: 18px;
        min-width: 48px;
        padding-right: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: flex-end;
        border-right: $headerInternalBorder;
        &:hover {
            height: 24px;
            background-color: $headerHoverBlue;
            border-radius: 5px;
            margin-top: -3px;
        }
        img{
          border-radius: 2px;
          height: 24px;
          width: 24px;
        }
    }
}

// Friends ***

.header-home-link {
  height: 18px;
  width:55px;
  text-decoration: none;
  color: $faceBookWhite;
  p{
    height: 24px;
    padding-top: 3px;
    padding-left: 10px;

  }

}

.header-home-redirect {
    margin-top: 8px;
    height: 24px;
    width: 55px;
    display: flex;
    &:hover {
      height: 24px;
        background-color: $headerHoverBlue;
        border-radius: 5px;
        cursor: pointer;
    }
    div{
      margin-top: 4px;
      height:18px;
      width: 55px;
      border-right: $headerInternalBorder;
    }
}

// Friends **

.header-friends-redirect {
    display: flex;
    justify-content: center;
    width: 88px;
    height: 24px;
    margin-top: 8px;
    &:hover {
      height: 24px;
        background-color: $headerHoverBlue;
        border-radius: 5px;
        cursor: pointer;
    }

    p {
        margin-top: 8px;
    }


}



// Large Icon Section **********************

.header-nav-section {
    height: 100%;
    width: 127px;

    img {
        max-height: 19px;
        max-width: 30px;
        margin-top: 12px;
        margin-left: 13px;
    }
}

// Little Icon Section **********************

.header-lock-down-section {
    margin-top: 12px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: $headerInternalBorder;
}

.header-lock-down-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    div{
      height: 18px;
      display: flex;
      align-items: center;
    }
}

.lock {
    margin-left: 18px;
    max-height: 12px;
    max-width: 17px;
}

.down-arrow {
    margin-left: 12px;
    max-height: 8px;
    max-width: 10px;
}

/* --- TOOLTIPS --- */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    text-align: center;
    padding: 5px 0px;
    border-radius: 3px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* Tooltip Arrow */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
