@import '../../base/utilities';

html, body, p {
  font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.header-divider {
  height: 24px;
  width: 1px;
  background: #365089;
}

.global-header-wrapper{
  background: $faceBookBlue;
  width: 100%;
  display: flex;
  justify-content: center;
}


.global-header-container {
  background: $faceBookBlue;
  width: 1215px;
  display: flex;
  flex-direction: row;
  height: 42px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  position: relative;
  img{
    margin-top: 9px;
    height: 24px;
    width: 24px;
  }
  input{
    margin-top: 9px;
    margin-left: 7px;
    padding-left: 8px;
    font-size: 14px;
    font-weight: lighter;
    width: 401px;
    height: 22px;
    border-radius: 3px;
    border: none;
  }
  button{
    margin-top: 9px;
    margin-left: -3px;
    margin-right: 110px;
    height: 24px;
    width: 46px;
    background-color: $faceBookWhite;
    border: none;
    border-radius: 3px;
    i{
      font-size: 16px;
      font-weight: normal;
    }
  }
}

.header-profile-container{
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.headerProfileName{
  margin-top:9px;
  padding-top: 7px;
  padding-left: 10px;
  width: auto;
  padding-right: 10px;
  text-decoration: none;
  color: $faceBookWhite;
  &:hover{
    height: 17px;
    background-color: $headerHoverBlue;
    border-radius: 5px;
  }
}


.header-home-link {
  text-decoration: none;
  color: $faceBookWhite;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 6px;
  &:hover {
    background-color: $headerHoverBlue;
    border-radius: 5px;
    cursor: pointer;
  }
}

.header-home-redirect{
  height: 24px;
  width: 55px;
  display: flex;
  margin-top: 10px;
}

.header-friends-redirect{
  display: flex;
  justify-content: center;
  width: 88px;
  height: 24px;
  margin-top: 10px;
  p {
    margin-top: 6px;
  }
  &:hover {
    background-color: $headerHoverBlue;
    border-radius: 5px;
    cursor: pointer;
  }
}

.header-nav-section{
  height: 100%;
  width: 127px;
  img{
    max-height: 19px;
    max-width:30px;
    margin-top: 12px;
    margin-left: 13px;
  }
}

.header-lock-down-section{
  margin-top: 12px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-lock-down-img{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.lock{
  margin-left: 18px;
  max-height: 12px;
  max-width: 17px;
}

.down-arrow{
  padding-top: 3px;
  margin-left: 12px;
  max-height: 8px;
  max-width: 10px;
}

.false-right-header{
  height: 42px;
  width: 196px;
}
