@import '../../base/utilities';

.global-post-container {
    width: 505px;
    min-height: 176px;
    height: auto;
    background: #FFF;
    margin-top: 12px;
    border-radius: 3px;
}
// Upper ******************

.upper-posted-div {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    display: flex;
    min-height: 94px;
    width: 476px;
    border-bottom: $borderColorGrey;
}

.user-profile-posted-div {
    display: flex;
    flex-direction: row;
    width: 100%;

    img {
        margin-top: 12px;
        height: 40px;
        width: 40px;
        border: $borderColorGrey;
    }

    a {
      text-decoration: none;
      color: $fbTextBlue;
    }

    p {
        margin-top: 26px;
        margin-left: 8px;
        font-family: $facebookFontA;
        color: $fbTextBlue;
        line-height: 1.38;
        font-weight: 500;
        font-size: 14px;
    }
}

.posted-text-container {
  margin-top: 7px;
  width: 100%;
  height: auto;
}

.posted-text {
  width: 100%;
  word-wrap: break-word;
  padding-bottom: 12px;
  line-height: 1.38;
  font-weight: normal;
  font-size: 14px;
}
// Mid ******************

.mid-posted-icon-div {
    padding-left: 12px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.1px solid #E5E5E5;

    &:hover {
        cursor: pointer;
    }

    div {
        position: relative;

        &:hover {
            text-decoration: underline;
        }

        p {
            font-size: 12px;
            font-weight: 600;
            font-family: $facebookFontA;
            color: #7F7F83;
            padding-bottom: 2px;
        }

        img {
            height: 15px;
            width: 15px;
            padding-right: 6px;
        }
    }
}

.blueLikes {
    font-size: 12px;
    font-weight: 600;
    font-family: $facebookFontA;
    color: $likeCommentShareBlue !important;
    padding-bottom: 2px;
}

.likePost {
    height: 15px;
    width: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.commentPost {
    height: 15px;
    width: 108px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.sharePost {
    height: 15px;
    width: 86px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
// Likes Div *****************

.likesDiv {
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F6F7F9;

    img {
        height: 15px;
        width: 15px;
        margin-right: 5px;
        margin-left: 10px;
    }

    p {
        color: #36589F;
        font-size: 12px;
        font-family: $faceBookFonth;
    }
}

.likes-seperator-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F6F7F9;

  div {
    width: 96%;
    border-bottom: 0.1px solid #E5E5E5;
    margin-bottom: 5px;
  }
}
// Comments Div ****************
.lower-posted-div {
  width: 100%;
  min-height: 50px;
  position: relative;
  background: #F6F7F9;
  border-radius: 3px;
}


.comment-input-section {
    display: flex;
    position: absolute;
    bottom: 2px;
    flex-direction: row;
    height: 38px;
    width: 100%;

    img {
        margin-left: 12px;
        margin-right: 8px;
        height: 30px;
        width: 30px;
        border: $borderColorDarkGrey;
    }
}

.input-name {
    display: flex;
    flex-direction: row;

    input::-webkit-input-placeholder {
        color: #999;
    }
    input:focus::-webkit-input-placeholder {
        color: #C0C2CA;
    }

    .new-comment-input {
      height: 28px;
      width: 374px;
      padding-left: 5px;
      font-size: 12px;
      border: none;
      border-top: $borderColorGrey;
      border-bottom: $borderColorGrey;
      border-left: $borderColorGrey;

      &:focus {
        outline: none;
      }
    }

    div {
        height: 30px;
        width: 30px;
    }
}

.camera-img {
    border-top: $borderColorGrey;
    border-bottom: $borderColorGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FFF;
    div {
        height: 12px;
        width: 15px;
        background-image: url('/images/home/cameras-med-gray.png');

    }

    &:hover {
        div {
            background-image: url('/images/home/cameras-dark-gray.png');
        }
    }
}

.smiley-2 {
    border-top: $borderColorGrey;
    border-bottom: $borderColorGrey;
    border-right: $borderColorGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FFF;
    div {
        height: 15px;
        width: 15px;
        background-image: url('/images/home/smileys-light.png');
        background-repeat: no-repeat;

    }

    &:hover {
        div {
            background-image: url('/images/home/smileys-dark.png');
            background-repeat: no-repeat;
        }
    }
}
