@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$backgroundColor: #E9EBEE;
$signInBackgroundColor: #F1F4F7;
$faceBookBlue: #3B5998;
$faceBookWhite: #fff;


$borderColorGrey: #E5E5E5 .5px solid;
$borderColorBlue: 1px solid #133783;
$inputBorderBox: .5px solid #1D2A5B;
$buttonBorder: .5px solid #29487D;


$faceBookFont: 'Merriweather', serif;
$faceBookFonth: helvetica;
$faceBookFontr: 'Roboto';
