@import '../../base/utilities';

.loggedOut-main-section-wrapper {
    display: flex;
    background: linear-gradient(white, #D3D8E8);
    padding-bottom: 30px;
    padding: 40px;
}

.loggedOut-main-section-left {
    width: 20%;
    margin-left: 340px;
    margin-top: 40px;
    font-family: $faceBookFontr;
}

.loggedOut-main-section-right {
    margin-left: 190px;
    margin-top: 30px;
    font-family: $faceBookFontr;

    h1 {
        font-size: 36px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 15px;
    }
    button {
      margin-top: 20px;
      width: 190px;
      height: 40px;
      border-radius: 5px;
      border: none;
      background: linear-gradient(#67ae55, #578843);
      background-color: #69a74e;
      box-shadow: inset 0 1px 1px #a4e388;
      border-color: #3b6e22 #3b6e22 #2c5115;
      color: white;
      font-size: 20px;
      border: black solid .5px;
    }
}
.text-thanks-for-stopping-by {
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
  font-size: 28px;
  color: $faceBookBlue;
}
.text-we-hope-to-see-you-again-soon {
  margin-top: 20px;
  text-align: center;
  margin-left: 30px;
  font-size: 18px;
}
.text-its-free-and-always-will-be {
    font-size: 20px;
    margin-bottom: 18px;
}
.input-box-type-1 {
    width: 188px;
    height: 37px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    border: #BDC7D8 solid .5px;
    font-size: 18px;
    padding-left: 10px;
    color: #99ACC5
}
.input-box-type-2 {
    width: 395px;
    height: 37px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: #BDC7D8 solid .5px;
    font-size: 18px;
    padding-left: 10px;
    color: #99ACC5
}
.text-birthday {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
}
select {
    //  -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
}
.month {

}
.day {

}
.year {

}
.text-why-do-I-need-to-provide-my-birthday-container {
  width: 175px;
  height: 8px;
  margin-left: 180px;
}
.text-why-do-I-need-to-provide-my-birthday {
  font-size: 11px;
  margin-left: 10px;
  text-decoration: none;
}
.radio-button-1 {
  margin-top: 20px;
}
.radio-button-2 {
  margin-top: 20px;
  margin-left: 20px;
}
.text-by-clicking-sign-up {
  margin-top: 20px;
  font-size: 11px;
  color: #777798;
  line-height: 15px;
  a {
    text-decoration: none;
    color: #365899;
  }
}
.create-a-page {
  margin-top: 30px;
  a {
    text-decoration: none;
    color: #365899;
    font-size: 16px;
  }
  color: #746666;
  font-size: 16px;
}
.bottom-footer-image {
  margin-left: 300px;
  margin-top: 5px;
}
