@import '../../base/utilities';

.login-header-container {
  height: 82px;
  width: 100vw;
  background-color: $faceBookBlue;
  background-image: linear-gradient(#4e69a2, $faceBookBlue 50%);
  border-bottom: $borderColorBlue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-logo {
  height: 35px;
  margin-top: 30px;
  margin-right: 433px;
}

.login-input-wrapper {
  margin-top: 17px;
  height: 100%;
  width: 315px;
  display: flex;
  flex-direction: row;
}

.login-header-input-text{
  margin-top: 4px;
  height: 21px;
  width: 148px;
  border: $inputBorderBox;
}

.email-input-wrapper{
  margin-right: 14px;
  display: flex;
  flex-direction: column;
  label{
    font-family:$faceBookFonth;
    color: $faceBookWhite;
    font-size: 12px;
  }
}

.password-input-wrapper{
  margin-right: 14px;
  display: flex;
  flex-direction: column;
  label{
    font-family:$faceBookFonth;
    color: $faceBookWhite;
    font-size: 12px;
  }
   a{
     margin-top: 8px;
     color: #9CB4D0;
     font-size: 12px;
     font-family: $faceBookFonth;
     text-decoration: none;
   }
}

.login-button {
  margin-top: 18px;
  border-radius: 2px;
  border-color: #29487d;
  cursor: pointer;
  display: inline-block;
  font-family: $faceBookFonth;
  font-size: 12px;
  color: $faceBookWhite;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  line-height: 17px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: top;
  white-space: nowrap;
  background-color: #4267b2;
  border: none;
  border: $buttonBorder;
  box-shadow: none;
  appearance: none;
  &:hover{
    background-color: $faceBookBlue;
  }
}

// Body styles

.main-gradient {
  background: linear-gradient(white, #D3D8E8);
  background-image: linear-gradient(white, rgb(211, 216, 232));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.login-body-wrapper{
  width: 100vw;
  flex-direction: column;
}

.upper-login-body-container{
  height: 608px;
  display: flex;
  justify-content: center;
  background-color: $signInBackgroundColor;
}

.lower-login-body-container{
  height: 272px;
  display: flex;
  justify-content: center;
}
