@import '../../base/utilities';

.profile-main-nav-wrapper {
  margin-top: -25px;
    width: 849px;
    height: 43px;
    background-color: $faceBookWhite;
    border: 1px solid rgb(221, 223, 226);
    border-top: none;
    border-radius: 1px;
    display: flex;
    // justify-content: space-between;
}

.profile-nav-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.profile-nav-first,
.profile-nav-about,
.profile-nav-friends,
.profile-nav-more,
.profile-nav-photos,
.profile-nav-timeline,
.profile-nav-last {
  text-decoration: none;
  font-family: $faceBookFonth;
  font-size: 14px;
  font-weight: bold;
  color: #365899;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #f6f7f9;
  }
}

.profile-nav-timeline-selected,
.profile-nav-friends-selected,
.profile-nav-about-selected,
.profile-nav-photos-selected,
.profile.nav-list {
  text-decoration: none;
  font-family: $faceBookFonth;
  font-size: 14px;
  font-weight: bold;
  color: #4b4f56;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-nav-timeline,
.profile-nav-timeline-selected {
    width: 90px;
    border-left: $navBarBorder;
}

.profile-nav-about,
.profile-nav-about-selected {
    width: 74px;
    border-left: $navBarBorder;
}

.profile-nav-friends,
.profile-nav-friends-selected {
    width: 85px;
    border-left: $navBarBorder;
}

.profile-nav-more{
  height: 45px;
  width: 82px;
  border-left: $navBarBorder;
  border-right: $navBarBorder;
}
.profile-nav-photos,
.profile-nav-photos-selected {
    width: 82px;
    border-left: $navBarBorder;
}

.profile-nav-first {
  width: 200px;
  &:hover {
    background-color: inherit;
  }
}

.profile-nav-last {
  min-width: 230px;
  &:hover {
    background-color: inherit;
  }
}

.profile-nav-profile-selector {
  position: absolute;
  bottom: 0px;
  left: 240px;
}

.profile-nav-about-selector {
  position: absolute;
  bottom: 0px;
  left: 323px;
}

.profile-nav-friends-selector {
  position: absolute;
  bottom: 0px;
  left: 404px;
}

.profile-nav-photos-selector {
  position: absolute;
  bottom: 0px;
  left: 487px;
}

.more-wrapper{
  cursor: pointer;
  height: 75px;
  width: 82px;
  display: flex;
  flex-direction: column;
  &:hover{
    z-index: 4;
  }
}

.more-hidden-box{
  z-index: -2;
  margin: -2px;
  height: 30px;
  width: 107px;
  border: $borderColorGrey;
  background-color: $faceBookWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    height: 20px;
    width: inherit;
    font-family: $facebookFontA;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      background-color: $profilePostBackgroundColor;
    }
  }
}
