@import '../../base/utilities';

.main-container {
    width: 849px;
    height: 405px;
    border: $main-container-profile-photo-border;
    border-width: 1px;
    font-family: $faceBookFontr;
}

.upper-photos-section-wrapper {
    width: 848px;
    height: 57px;
    border: $main-container-profile-photo-border;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.friends-image-wrapper {
    margin-top: 17px;
    margin-left: 13px;
    display: flex;
    flex-direction: row;

    h1 {
        font-size: 20px;
        margin-left: 7px;
        margin-top: 1px;
        color: $color-of-word-photos-on-profile;
    }

    img {
        width: 24px;
        height: 22px;
    }
}
.create-requests-find-and-edit-buttons {
    margin-top: 15px;
    display: flex;
    margin-right: 10px;
    button {
        height: 26px;
        border: $main-container-profile-photo-border;
        border-width: 1px;
        background: transparent;
        &:hover {
          background-color: $iconHover;
        }
    }
}
.friend-requests-button {
    flex-grow: 2;
    padding-bottom: 3.25px;
    padding-top: 4px;
    color: $color-of-text-in-buttons-on-profile-photos;
    font-weight: 600;
    font-size: 12px;
}
.text-friend-requests {

  display: inline-block;
}
.red-counter {
  position: relative;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  background-color: rgb(250, 62, 62);
  font: normal normal bold normal 10px / 13px helvetica, arial, sans-serif;
  font-family: helvetica, arial, sans-serif;
  margin-left: 4px;
  margin-right: 3px;
  padding-top: 1px;
  padding-right: 3px;
  padding-bottom: 1px;
  padding-left: 3px;
  border-radius: 2px;
  bottom: 1px;
}
.gray-plus-image {
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
    padding-right: 3.5px;
    color: $color-of-text-in-buttons-on-profile-photos;
    flex-grow: 1;
}

.find-friends-button {
    flex-grow: 1;
    color: $color-of-text-in-buttons-on-profile-photos;
    font-size: 12px;
    font-weight: 600;
    padding-top: 2px;
}

.edit-privacy-button {
    flex-grow: 1;
    color: $color-of-text-in-buttons-on-profile-photos;
    font-size: 12px;
    font-weight: 600;
    padding-top: 2px;
}
.no-friends-to-show {
    font-size: 19px;
    font-family: $faceBookFontr;
    text-align: center;
    margin-top: 94px;
    color: $noPhotos-to-show-text-on-profile-photos;
}
