@import '../../base/utilities';

.profile-main-nav-wrapper {
    margin-top: -25px;
    width: 849px;
    height: 41px;
    background-color: $faceBookWhite;
    border: 1px solid rgb(221, 223, 226);
    border-top: none;
    border-radius: 1px;
    display: flex;
    // justify-content: space-between;
}

.profile-nav-wrapper {
    display: flex;
}


.profile-nav-about,
.profile-nav-first,
.profile-nav-friends,
.profile-nav-last,
.profile-nav-more,
.profile-nav-photos,
.profile-nav-timeline {
    font-family: $faceBookFonth;
    font-size: 14px;
    font-weight: bold;
    color: #365899;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:hover {
        background-color: #f6f7f9;
    }
}

.profile-nav-timeline {
    border-left: $navBarBorder;
    width: 90px;
    text-decoration: none;
}

.profile-nav-about {
  border-left: $navBarBorder;
    width: 74px;
    text-decoration: none;
}

.profile-nav-friends {
    border-left: $navBarBorder;
    width: 85px;
    text-decoration: none;
}


.profile-nav-photos {
    border-left: $navBarBorder;
    height:43px;
    width: 82px;
    text-decoration: none;
}

.profile-nav-first {
    width: 200px;
    border-left: $navBarBorder;
    &:hover {}
}

.profile-nav-last {
    min-width: 230px;
    &:hover {
        background-color: inherit;
    }
}
.profile-nav-more{
  border-left: $navBarBorder;
  border-right: $navBarBorder;
  height:41px;
  width: 82px;
}

.more-button-container{
  cursor: pointer;
  height: 79px;
  width: auto;
  display: flex;
  flex-direction: column;
  &:hover{
      z-index: 4;
  }
}

.more-button-hidden{
  z-index: -4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 102px;
  font: $facebookFontA;
  font-size: 10px;
  border: $navBarBorder;
  background-color: $faceBookWhite;
  p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width:inherit;
    &:hover{
      background-color: $backgroundColor;
    }
  }
}
