@import '../../base/utilities';

.add-photo-wrapper {
    margin-top: -145px;
    margin-left: 15px;
    height: 170px;
    width: 168px;
    border: $profilePicBorder;
    border-radius: 2px;
    position: relative;
    z-index: 1;
}

.add-profile-pic {
  opacity: 0;
  height: 36px;
  width: 160px;
  position: absolute;
  z-index: 12;
  cursor: pointer;
  padding-top: 36px;
  box-sizing: border-box;
  bottom: 1px;
  left: 0;
}

.silhouette-add-photo {
    background-color: #fff;
    border: 4px solid #fff;
    position: relative;
}

.add-photo-opaque {
    width: 160px;
    height: 36px;
    cursor: pointer;
    background-color: #000;
    opacity: 0.65;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    &:hover {
      opacity: 1;
    }
}

.add-photo-text {
    color: #fff;
    font-family: $faceBookFonth;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    cursor: pointer;
    padding-top: 12px;
    padding-left: 3px;
}

.camera-pic {
    padding-left: 5px;
    padding-top: 12px;
    cursor: pointer;
    -webkit-transition: transform 100ms;
    transition: transform 100ms;

    &:hover {
        -webkit-transform: scale3d(.75, .75, 1);
        transform: scale3d(.75, .75, 1);
    }
}

.add-photo-opaque:hover .cover-camera-pic {
    -webkit-transform: scale3d(.75, .75, 1);
    transform: scale3d(.75, .75, 1);
}

.profile-profile-picture {
    width: 160px;
}
