@import '../../base/utilities';

.profile-body-wrapper {
    background: $backgroundColor;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content-wrapper {
  position: relative;
    height: auto;
    width: 851px;
    display: flex;
    flex-direction: row;
}

.profile-left-content-div {
  
}

.profile-false-right {
    height: auto;
    width: 128px;
}
