@import '../../base/utilities';

.profile-intro-wrapper {
    width: 321px;
    height: 181px;
    background-color: $faceBookWhite;
    border: 1px solid rgb(221, 223, 226);
    border-radius: 1px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: $faceBookFonth;
}

.profile-globe-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.profile-intro-icon {
    margin-left: 12px;
    margin-top: 12px;
    flex-direction: row;
}

.profile-intro-header {
    margin-top: 18px;
    margin-left: 9px;
    flex-direction: row;
}

.profile-describe-wrapper {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
}
