.profile-intro-icon {
    // background-image: url("../../../images/profile/profile-sprite1.png");
    // this syntax is failing! Boo! I want it to qork wit a sprite and I can't
    background-size: auto;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-position: 0 -22px;
}
