@import '../../base/utilities';

.profile-photos-wrapper {
  width: 321px;
  height: 48px;
  background-color: $faceBookWhite;
  border: 1px solid rgb(221, 223, 226);
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
  font-family: $faceBookFonth;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.profile-photos-icon {
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-photos-link {
  display: flex;
  align-items: center;
  width: 275px;
  a {
    text-decoration: none;
    color: #1d2129;
    &:hover {
      text-decoration: underline;
    }
  }
}

.profile-photos-text {
  color: #90949c;
  font-size: 14px;
}
