@import '../../base/utilities';

.profile-body-wrapper {
    background: $backgroundColor;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-master-body{
  height: auto;
  width: 1011px;

}

.profile-body-container{
    width: 851px;
}

.profile-body-header {
  width: 100%;

}

.profile-content-wrapper {
  position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.profile-dimmer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
}
