@import '../../base/utilities';

.profile-post-status-wrapper {
   margin-top: 17px;
   height: auto;
}

.profile-center-post-container{
  min-height: 149px;
  border-radius: 3px;
  border: $borderColorGrey;
  width: 510px;
  background: $faceBookWhite;
  position: relative;
  z-index: 3;
  height: auto;


    h1 {
        height: 34px;
        width: 504px;
        padding-left: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 3;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: $profilePostBackgroundColor;
        border-bottom: $borderColorGrey;

        span {
            margin-left: 10px;
        }

        p {
            padding-left: 5px;
            font-size: 12px;
            font-weight: bolder;
            color: $color-of-word-photos-on-profile;
            padding-right: 6px;
            padding-top: 2px;
            padding-bottom: 2px;
            border-right: $borderColorDarkGrey;
            margin-right: -2px;
        }
        a {
          text-decoration: none;
          margin-left: 4px;
          font-size: 12px;
          font-weight: bolder;
          font-family: $faceBookFontr;
          color: $postBttnHoverBlue;
        }
    }
}
.status-and-image-profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 15px;
    height: 8px;
    margin-top: -20px;
  }
}
.flag-profile {
  border: gray solid thin;
  padding-left: 6px;
}
.photo-and-video-profilepage {
  color: red;
}
.profileCloseDiv {
    padding-right: 12px;
    padding-bottom: 7px;
    cursor: pointer;
    position: absolute;
    right: 0px;

    img {
        margin-top: 10px;
        height: 17px;
        width: 17px;
    }
}

// Mid Post Div ***************
.mid-post-profile{
  height: 73px;
  width: 510px;
  border-bottom: $borderColorGrey;
  display: flex;
  flex-direction: row;
  div{
    height: 73px;
    width: 62px;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    img{
      height: 38px;
      width: 38px;
      border: $profilePicBorderGray;
    }
  }

  .profile-post-textarea{
    padding-top: 11px;
      min-height: 20px;
      width: 400px;
      margin-top: 11px;
      border: none;
      outline: none;
      resize: none;
      font-size: 14px;
      font-family: inherit;
  }
}

.lower-profile-container-bottom{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

.lower-profile-icon-container {
    height: 40px;
    width: 200px;
    display: flex;
    flex-direction: row;

    div {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: $iconHover;
        }
    }
}

.lower-profile-button-container {
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $faceBookWhite;
  margin-top: 0;
  height: 40px;
  width: 170px;
  position: absolute;
}
// <img src="/images/profile/white-up-triangle.png"/>
