@import '../../base/utilities';

.profile-nav-wrapper {
    width: 832px;
    height: 43px;
    background-color: $faceBookWhite;
    border: 1px solid rgb(221, 223, 226);
    border-radius: 1px;
    font-family: $faceBookFonth;
}

h1 {
  color: red;
}
