@import '../../base/utilities';

.main-container {
    width: 849px;
    // height: 405px;
    border: $main-container-profile-photo-border;
    border-width: 1px;
    font-family: $faceBookFontr;
}

.upper-photos-section-wrapper {
    width: 848px;
    height: 83px;
    border: $main-container-profile-photo-border;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $profilePostBackgroundColor;
}

.photo-image-wrapper {
    margin-top: 17px;
    margin-left: 13px;
    display: flex;
    flex-direction: row;

    h1 {
        font-size: 20px;
        margin-left: 7px;
        margin-top: 1px;
        color: $color-of-word-photos-on-profile;
        font-weight: bolder;
    }

    img {
        width: 24px;
        height: 22px;
    }
}

.create-album-button {
    flex-grow: 2;
    padding-left: 9px;
    padding-bottom: 3.25px;
    padding-top: 2px;
    color: $color-of-text-in-buttons-on-profile-photos;
    font-weight: 600;
    font-size: 12px;
}

.gray-plus-image {
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
    padding-right: 3.5px;
    color: $color-of-text-in-buttons-on-profile-photos;
    flex-grow: 1;
}

.add-photos-button {
    flex-grow: 1;
    color: $color-of-text-in-buttons-on-profile-photos;
    font-size: 12px;
    font-weight: 600;
    padding-top: 2px;
}

.add-video-button {
    flex-grow: 1;
    color: $color-of-text-in-buttons-on-profile-photos;
    font-size: 12px;
    font-weight: 600;
    padding-top: 2px;
}

.pencil-button {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    color: $color-of-text-in-buttons-on-profile-photos;
}

.gray-pencil-image {
    width: 12px;
    height: 12px;
    padding-left: 2px;
    padding-top: 4px;
    flex-grow: 1;
}

.create-add-video-and-pencil-buttons {
    margin-top: 15px;
    display: flex;
    button {
        height: 26px;
        border: $main-container-profile-photo-border;
        border-width: 1px;
        background: transparent;
        &:hover {
          background-color: $iconHover;
        }
    }
}
.parent-of-albums-p {
  display: flex;
  align-items: flex-end;
  margin-left: -95px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  color: $colorFontOnPhotos;
}
.white-arrow-image-photos {
  margin-bottom: -13px;
  margin-left: -30px;
  img{
    width: 14px;
    height: 7px;
  }
}
.lower-section-wrapper{
  width: 849px;
  height: 346px;
  background-color: $faceBookWhite;
}
.wrapper-around-two-boxes {
  display: flex;
  flex-direction: row;
  width: 819px;
  height: 316px;
  justify-content: flex-start;
  align-items: flex-start;
}
.dotted-line-box {
  width: 204px;
  height: 239px;
  border: dashed #7F7F7F thin;
  border-radius: 4px;
  margin-right: 13px;
}
.plus-and-create-album {
  width: 204px;
  height: 239px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
  }
  p {
    text-decoration: none;
    font-family: $faceBookFontr;
    color: #CCCCCC;
    font-size: 18px;
    font-weight: lighter;
  }
}
.timeline-photos-box {
  width: 194px;
  height: 194px;
  border: solid #B3BBC9 thin;
  img {
    height: 194px;
    width: 194px;
  }
}
.timeline-photos-box2 {
  width: 194px;
  height: 45px;
  border: solid #E9EBEE thin;
  a {
    text-decoration: none;
    color: #526FA7;
    // text-decoration: none;
    // font-family: $faceBookFontr;
    // font-size: 11px;
    p {
      // font-family: $faceBookFontr;
      // font-size: 11px;
    }
  }
  p {
    font-size: 12px;
    margin-left: 7px;
    margin-top: 7px;
    font-family: inherit;

  }
  img {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 8px;
  }
}
.empty-and-gears{
  display: flex;
  justify-content: space-between;
}
.empty {
  color: #B6B8BD;
}
// .no-photos-to-show {
//     font-size: 19px;
//     font-family: $faceBookFontr;
//     color: $noPhotos-to-show-text-on-profile-photos;
//     margin-bottom: 80px;
// }
