@import '../../base/utilities';

.profile-main-cover-wrapper {
    width: 100%;
    min-height: 204px;
    background-color: #1d2129;
    position: relative;
}

.add-cover-wrapper {
    height: 28px;
    width: 148px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 17px;
    left: 20px;

    &:hover {
        color: #cdccc8;
        border: 1px solid #cdccc8;
        border-radius: 1px;
    }
}

.cover-camera-pic {
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: transform 100ms;
    transition: transform 100ms;
    position: absolute;
    top: 4px;
    left: 4px;

    &:hover {
        -webkit-transform: scale3d(.75, .75, 1);
        transform: scale3d(.75, .75, 1);
    }
}

.add-cover-text {
    color: #cdccc8;
    opacity: 0;
    font-family: $faceBookFonth;
    font-size: 12px;
    letter-spacing: 0.85px;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    -webkit-transition: opacity 100ms;
    transition: opacity 100ms;
    position: absolute;
    top: 10px;
    left: 35px;
}

.name-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 12px;
    left: 200px;
    width: 76%;
}

.profile-name {
    color: white;
    font-family: $faceBookFonth;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    font-size: 24px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-name-buttons {
    height: 26px;
    padding-right: 15px;
}

.profile-activity-log,
.profile-cover-elipsis,
.profile-update-info {
    height: 26px;
    background-color: #f6f7f9;
    color: #4b4f56;
    cursor: pointer;
    text-decoration: none;
    font-family: $faceBookFonth;
    font-size: 12px;
    font-weight: bold;
    border-style: none;
    border-radius: 1px;

    &:hover {
        background-color: #e9ebee;
    }
}

.profile-update-info {
    width: 86px;
    margin-right: 12px;
}

.profile-activity-log {
    width: 120px;
    border-right: 1px solid #ced0d4;
}

.profile-cover-elipsis {
    width: 36px;

    img {
        height: 9px;
    }
}

.add-cover-wrapper:hover .add-cover-text {
    opacity: 1;
}

.add-cover-wrapper:hover .cover-camera-pic {
    -webkit-transform: scale3d(.75, .75, 1);
    transform: scale3d(.75, .75, 1);
}
