@import '../../base/utilities';

.profile-post-status-wrapper {
      height: auto;
}

.profile-center-post-container{
  margin-top: 17px;
  margin-left: 17px;
  min-height: 149px;
  width: 510px;
  background: $faceBookWhite;
  border-radius: 2px;
  border-bottom: $borderColorGrey;
  position: relative;
  z-index: 3;
  height:auto;


    h1 {
        height: 34px;
        width: 504px;
        padding-left: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 3;
        background-color: $profilePostBackgroundColor;
        border-bottom: $borderColorGrey;

        span {
            margin-left: 10px;
        }

        p {
            padding-left: 5px;
            font-size: 12px;
        }
    }
}

.profileCloseDiv {
    padding-right: 12px;
    padding-bottom: 7px;
    cursor: pointer;
    position: absolute;
    right: 0px;

    img {
        margin-top: 10px;
        height: 17px;
        width: 17px;
    }
}

// Mid Post Div ***************
.mid-post-profile{
  height: 73px;
  width: 510px;
  border-bottom: $borderColorGrey;
  display: flex;
  flex-direction: row;
  div{
    height: 73px;
    width: 62px;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    img{
      height: 38px;
      width: 38px;
      border: $profilePicBorderGray;
    }
  }

  .profile-post-textarea{
    padding-top: 11px;
      min-height: 20px;
      width: 400px;
      margin-top: 11px;
      border: none;
      outline: none;
      resize: none;
      font-size: 14px;
      font-family: inherit;
  }
}

.lower-profile-icon-container {
    height: 40px;
    width: 120px;
    display: flex;
    flex-direction: row;

    div {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: $iconHover;
        }
    }
}

.lower-profile-button-container {
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $faceBookWhite;
  margin-top: 0;
  height: 40px;
}
// <img src="/images/profile/white-up-triangle.png"/>
