@import '../../base/utilities';

//main-wrapper
.find-friends-main-wrapper{
  width: 100vw;
  min-height: 100vh;
  background-color: $backgroundColor;
  padding-top: 21px;
  display: flex;
  justify-content: center;
}
.find-friends-main-content-wrapper{
  width: 1011px;
  height: auto;
  display: flex;
  flex-direction: row;
}
//respond-to-your-friend-request-box
.respond-to-your-friend-request-box{
  width: 665px;
  height: 160px;
  background-color: $faceBookWhite;
  border: $borderOnFindFriendsPage;
  display: flex;
  justify-content: space-between;
}
.respond-to-your-friend-request-top-left-text-and-link {
  font-family: $faceBookFontr;
  margin-top: 23px;
  line-height: 16px;
}
.wrapper-for-image-and-about-person {
  display: flex;
}
//people-you-may-know-boxes



//add-personal-contacts-box



//search-for-friends-box
