@import '../../base/utilities';

.friends-profile-page-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #e9ebee;
}

.friends-profile-page-container {
    height: auto;
    width: 1011px;
    display: flex;
    flex-direction: column;
}

.friends-profile-page-header {
    width: 851px;
}
