@import '../../base/utilities';

.home-center-post-container {
    margin-top: 10px;
    height: 163px;
    width: 503px;
    background: $faceBookWhite;
    border-radius: 5px;
    border: $borderColorGrey;
    position: relative;
    z-index: 3;
}
// Top Status Section ********
.post-container-top {
    display: flex;
    flex-direction: row;
    min-height: 36px;
    width: 476px;
    border-bottom: $borderColorGrey;
    margin-left: 12px;
}

.camera-icon {
    max-height: 18px;
    max-width: 30px;
}

.album-icon {
    max-height: 20px;
    max-width: 30px;
}

.closeDiv {
    margin-left: 219px;
    cursor: pointer;
}
// Middle Status Section *******
.post-container-middle {
    margin-top: 12px;
    margin-left: 12px;
    height: 73px;
    border-bottom: $borderColorGrey;
    display: flex;
    flex-direction: row;
}

.imgStatusDiv {}

.inputStatusDiv {
    textarea {
        min-height: 20px;
        max-width: 400px;
        margin-top: 17px;
        margin-left: 12px;
        border: none;
        outline: none;
        resize: none;
        font-size: 14px;
    }
}
// Lower Status Section *******
.post-container-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-post-button-container {
    display: flex;
    flex-direction: row;
    background-color: $faceBookWhite;
    margin-top: 0;
    height: 40px;
    width: 173px;
}

.fb-bttn {
      height: 22px;
      width: 95px;
      margin-top: 8px;
      margin-right: 10px;
      font-size: 12px;
      font-weight: bold;
      color: $friendsBttnGray;
      background-color: $faceBookWhite;
      box-shadow: none;
      text-decoration: none;
      outline: none;
      border: $buttonBorderGray;
      border-radius: 2px;
      img{
        max-height: 50px;
        max-width: 80px;
      }
  }

.post-bttn {
    margin-top: 8px;
    height: 24px;
    width: 60px;
    margin-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont;
    background-color: $postBttnBlue;
    color: $faceBookWhite;
    box-shadow: none;
    text-decoration: none;
    border: none;
    outline: none;
    &:hover{
      background-color: $postBttnHoverBlue;
    }
}
