@import '../../base/utilities';

.home-left-column {
    margin-top: 15px;
    width: 184px;
    margin-right: 12px;
}

.left-div {
      margin-bottom: 10px;
    li {
        display: flex;
        align-items: center;
        height: 22px;
        width: 172;
        font-family: $facebookFontA;
        font-size: 12px;
        margin-bottom: 5px;

        img {
            height: 16px;
            width: 16px;
            margin-right: 6px;
        }
    }
}

h4 {
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 600;
    color: $leftProfileGruopNames;
    font-family: $facebookFontA;
}

.leftHover {
    &:hover {
        cursor: pointer;
        background-color: $iconHover;
    }
}
