@import '../../base/utilities';

.home-main-content-wrapper {
    background: $backgroundColor;
}

.home-main-content-wrapper {
    background: $backgroundColor;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.home-main-content-container {
    min-height: 100vh;
    width: 1216px;
    display: flex;
    flex-direction: row;
}

.false-right {
    min-height: 100vh;
    width: 196px;
}

.dimmer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
    z-index: 1;
}
