@import '../../base/utilities';

.about-view .global-header-wrapper .global-header-container {
  justify-content: flex-start;
}.header-right-div{
  margin-left: 54px;
}

.about-profile-page-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #e9ebee;
}

.about-profile-page-container{
  height: auto;
  width: 1011px;
  display: flex;
  flex-direction: column;

}

.about-profile-page-header{
  width: 851px;
}

.about-profile-image {
  height: 425px;
  width: 851px;
  margin-bottom: 31px;
}
